<h1>Registration for Photogur</h1>
<%= form_tag '/reg' do %>

<div class="field">
  <%= label_tag 'name' %>
  <%= text_field_tag :name %>
</div>

<div class="field">
  <%= label_tag 'email' %>
  <%= text_field_tag :email %>
</div>

<div class="field">
  <%= label_tag 'password' %>
  <%= password_field_tag :password %>
</div>


  <%= submit_tag 'Register' %>

<% end %>

<%= link_to 'Login', login_path%>
